@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Brunno Rodrigues<br />
    Sao Paulo - SP<br />
    <abbr title="Phone">P:</abbr>
    (18) 9 9186-7777
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:bigercc@gmail.com?Subject=Jobs">bigercc@gmail.com</a><br />
</address>